{% extends 'inicio/encabezado.html' %} {% block titulo %} Cursos {% endblock %} {% comment %} Contenido Cursos {% endcomment %} {% block contenido %}
<br><br>


<div class="card text-bg-dark mb-3 card-primary m-4 my-3">
    <div class="card-header">
        <h3 class="card-title">Cursos
            <div class="mt-1 spinner-grow text-primary" role="status"></div>
        </h3>
    </div>
    <div class="card-body">
        <table class="table table-dark table-striped table-striped ">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre del Curso</th>
                    <th>Nombre del Tutor</th>
                    <th>Descripcion</th>
                    <th>Enlace y Plataforma</th>

                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                <tr>
                    <td class="text-center ">
                        <image src="{{curso.imagen.url }} " alt="{{ curso.nombre }} " class="img-fluid " width="100 ">
                    </td>
                    <td>{{ curso.NombreCurso }}</td>
                    <td>{{ curso.NombreTutor }}</td>
                    <td>{{ curso.Descripcion }}</td>
                    <td><a href="{{ curso.Link }} "> {{ curso.Platafroma }}</a></td>
                </tr>
                {% endfor %}

        </table>
    </div>
</div>



{% endblock%}